<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Signup Page</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" autocomplete="off"><br>
        <label>Email:</label><br>
        <input type="text" name="email" autocomplete="off"><br>
        <label>Password:</label><br>
        <input type="password" name="passwordOne" autocomplete="off"><br>
        <label>Re-Type Password:</label><br>
        <input type="password" name="passwordTwo" autocomplete="off"><br>
        <button type="submit">Sign up!</button><br>
    </form>
</body>
</html>